#title{
    text-align: center;
    padding: 20px;
    border: 10px;

}

body{
    background-image: url("../images/beer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#searchArea{
    
    size: 50%;
    padding:20px;
    margin:10px;
    text-align: center;


}

#dropDown{

    padding:20px;
    margin:10px;
    text-align: center;
   
}


div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Brewery Name</span>
                         </div>
                         <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
