#title{
    text-align: center;
    padding: 20px;
    border: 10px;

}

body{
    background-image: url("../images/beer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#searchArea{
    
    size: 50%;
    padding:20px;
    margin:10px;
    text-align: center;


}

#dropDown{

    padding:20px;
    margin:10px;
    text-align: center;
   
}

#results {
    height: 400px;  
    width: 800px;  
}

.place-image {
    width: 100%;
}
